body {
    background-color: $body-bg-color; 
    color: $base-font-color;
    font-family: $base-font-family;
    line-height: $base-line-height;
    font-weight: 300;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    font-family: $header-font-family;
    margin-bottom: modular-scale(0);
    font-weight: 300;
    .banner & {
        margin-top: 0;
    }
}

h1 { 
    font-size: modular-scale(2);
    line-height: modular-scale(2);
    @include media($bp-large) {
        font-size: modular-scale(3);
        line-height: modular-scale(3);
    }
}

h2 {
    font-size: modular-scale(1);
    line-height: modular-scale(1);
    @include media($bp-large) {
        font-size: modular-scale(2);
        line-height: modular-scale(2);
    }
}

h3 {
    font-size: modular-scale(0);
    line-height: modular-scale(0);
    @include media($bp-large) {
        font-size: modular-scale(1);
        line-height: modular-scale(0);
    }
}

p, ul, ol {
    font-size: modular-scale(0);
    line-height: modular-scale(1);
    @include media($bp-large) {
        font-size: modular-scale(0);
        line-height: modular-scale(1);
    }
    small & {
        font-size: modular-scale(0, 1rem);
        line-height: modular-scale(0, 1.4rem);
        opacity: 0.6;
    }
}

ul, ol {
    list-style-type: circle;
    li {
        margin: 0 0 .5em 0;
    }
}

ol {
    counter-reset: ordered-list;
    li {
        list-style: none;
        &:before {
            color: $base-font-color;
            content: counter(ordered-list);
            counter-increment: ordered-list;
            display: block;
            float: left;
            margin-left: -50px;
            padding: 0 10px;
        }
    }
}

a { 
    color: $project;
    text-decoration: none;
    &:hover {
        opacity: 0.6;
    }
}

header nav a {
    opacity: 0.6;
    color: $base-masthead;
    &:hover, &.active {
        opacity: 1;
    }   
}

.logo {
    color: $base-masthead;
    font-size: modular-scale(1);
    span {
        opacity: 0.6;
    }
}

.subhead {
    font-size: modular-scale(0, 1.3rem);
    line-height: modular-scale(0, 1.7rem);
    -webkit-font-smoothing: antialiased;
}

.circle {
    border-radius: 50%; 
    border: 10px solid $base-font-color;
    padding: 0em .3em; 
}