.home {
	background-color: $home;
	min-height: 100vh;
	color: $white;
	#content {
		span, .dim {
			opacity: 0.5;
		}
	}
}

.intro {
    position: absolute;
 	top: 40%;
  	transform: translateY(-40%);
  	padding: 5% 40% 5% 5%;
}