aside {
	display: none;
    @include media($bp-large) {
        float: left;
        display: block;
        width: 260px;
        position: fixed;
        z-index: 100000;
        margin-top: 5.7rem;
        ol {
            padding: 0;
            margin:0;
        }
    }
    .scroll-nav__list li {
        @include pad(0.3rem 0 0.3rem 0);
        border-bottom: 1px solid $base-horizontal-rule;
    }
    .about & a {color: $about; }
    .developer & a {color: $developer; }
    .designer & a { color: $designer; }
    .customerservice & a { color: $customerservice; }
    .qa & a { color: $qa; }
    .project & a { color: $project; }
    
    .active:after {
        content:"\f00c";
        font: 15px/10px 'FontAwesome';
        opacity: 0.4;
        float: right;
        margin-top: .5em;
    }
}