@import "../../components/neat/app/assets/stylesheets/neat-helpers";

// Neat Overrides
$grid-columns: 5;

$max-width: em(1100);

// Major: Content centric breakpoints
$bp-large: new-breakpoint(min-width 56em 12);

// Visual Grid view
$visual-grid: false;
$visual-grid-color: #000;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;