section {
    @include media($bp-large) {
        margin-top: 0em;
    }
}

article {
    @include outer-container;    
    padding: 2em;
}

.column-2 {
    @include media($bp-large) {
    @include span-columns(5.5);
    &:nth-child(3) {
        @include shift(1);
        }
    }
}

footer {
    @include outer-container;    
    padding: 2em;
    text-align: center;
}