.util {
	display:none;
	@include media($bp-large) {
		@include margin(1rem null 2rem null);
        @include span-columns(12);
    }
    .time {
        @include shift(4);
        opacity: 0.4;
    }
    .edit {
    	float: right;
    	a {
    		opacity: 0.5;
            .about & {color: $about;}
            .developer & {color: $developer; }
            .designer & { color: $designer; }
            .customerservice & { color: $customerservice; }
            .qa & { color: $qa; }
            .project & { color: $project; }
    	}
    	a:hover {
    		opacity: 1;
    	}
    }
}